.sources {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: auto;
    align-items: center;
    font: 300 1em 'Fira Sans', sans-serif;
}

.alphabet__item,
.source__item {
    background: none;
    border: 2px solid #30c5ff;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    color: #70d6ff;
    transition: 0.25s;
    cursor: pointer;
}

.alphabet__item:hover,
.alphabet__item:focus,
.source__item:hover,
.source__item:focus {
    border-color: #3fcc59;
    color: #69db7e;
    box-shadow: 0 0.5em 0.5em -0.4em #3fcc59;
    transform: translateY(-0.25em);
}

.source__item-name {
    font-weight: 400;
    white-space: nowrap;
}

.source__item_hide {
    display: none;
}

.alphabet {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.alphabet__item {
    width: 15px;
    text-transform: uppercase;
    text-align: center;
}