.header {
  position: relative;
  background-color: #121C1E;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
.nav {
  display: flex;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 30px;
  align-items: center;
  font-size: 22px;
  &__item {
    &:hover {
      color: #278D9F;
    }
  }
}

.logo {
  width: 48px;
  height: 60px;
  background-image: url(./assets/svg/tree.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  transition: .3s;

  position: relative;
  display: block;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 20px;
  transition: .3s;

  &:hover {
    filter: invert(57%) sepia(100%) saturate(329%) hue-rotate(141deg) brightness(89%) contrast(90%);
  }

}


.controls {
  display: flex;
  gap: 30px;
  align-items: center;

  &__select-toys{
    width: 48px;
    height: 60px;
    background-image: url(./assets/svg/ball-2.svg);
    background-size: 48px 60px;
    background-position: left -8px;
    background-repeat: no-repeat;
    transition: .3s;

    &-count{
      display: inline-block;
      min-width: 40px;
      height: 40px;
      margin-top: 10px;
      margin-left: 4px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      font-size: 20px;
      background-color: #278D9F;
    }
  }
}

