.modal {
  position: fixed;
  opacity: 0;
  top: 0;
  top: -100%;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
  z-index: 1000;

  &__body {
    width: 100%;
    max-width: 500px;
    height: 300px;
    background: #278D9F;
    display: flex;
    padding: 20px 40px;
    flex-direction: column;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__text {
    font-size: 2rem;
    transition: all 0.3s;
    margin: 0 0 10px;
    color: #ffffff;
    text-align: center;
  }

  &__button.button {
    transition: all 0.3s;
    color: #278d9f;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 30px;
    padding: 7px 35px;
  }
}

.modal.show {
  top: 0;
  opacity: 1;
}
