* {
  box-sizing: border-box;
}

body {
  font-size: 18px;
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-family: Neucha, sans-serif;
  letter-spacing: 3px;
  color: #ffffff;
}

a {
  text-decoration: none;
  color: #ffffff;
}
