.tree-page {
  background-color: #121C1E;
  background-image: url("./assets/bg.jpg");
  background-blend-mode: color-dodge;
}

.tree-page__container {
  display: flex;
}

.tree__toys,
.tree__setting {
  flex-direction: column;
  justify-content: flex-start;
}

.tree__select-tree_text {
  width: 100%;
  margin-left: 50px;
  font-size: 30px;
  color: #FFFFFF;
  text-align: left;
  text-transform: uppercase;
}

.tree__setting,
.tree__picture,
.tree__toys {
  /* border: 3px solid red; */
  height: calc(100vh - 140px);
}

.tree__setting {
  width: 500px;
  margin-left: 50px;
  padding-top: 10px;
}

.tree__picture {
  width: 800px;
  background-image: url("./assets/bg/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
}

.tree__toys {
  width: 500px;
  margin-right: 50px;
}

.tree__toys-selected,
.tree__decorate,
.tree__select-bg,
.tree__select-tree {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: flex-start;
  gap: 10px;
}

.tree-toy {
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  background-color: rgba(255,255,255,.6);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;

  &__count {
    background-color: #278d9f;
    height: 22px;
    width: 22px;
    border-radius: 10px;
    align-self: flex-end;
    font-size: 16px;
    margin: 0 55px 2px 0;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  &__image {
    position: absolute;
    width: 60px;
    height: 60px;
   touch-action: none;
   cursor: pointer;
  }

}

.tree__select-bg {
  // height: 25%;
}

.tree__select-tree {
  margin-bottom: 30px;
}

.tree__toys {
  // min-height: 30%;
}

.tree-example {
  width: 125px;
  height: 125px;
  border-radius: 20px;
  border: 1px solid blue;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: rgb(206, 206, 206);
  opacity: 0.9;
  cursor: pointer;
}

.tree-example.num1 {
  background-image: url("./assets/tree/1.png");
}

.tree-example.num2 {
  background-image: url("./assets/tree/2.png");
}

.tree-example.num3 {
  background-image: url("./assets/tree/3.png");
}

.tree-example.num4 {
  background-image: url("./assets/tree/4.png");
}

.tree-example.num5 {
  background-image: url("./assets/tree/5.png");
}

.tree-example.num6 {
  background-image: url("./assets/tree/6.png");
}

.bg {
  width: 70px;
  height: 70px;
  border-radius: 10px;
  border: 1px solid rgb(255, 255, 255);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 5px;
  cursor: pointer;
}

.bg.num1 {
  background-image: url("./assets/bg/1.jpg");
}

.bg.num2 {
  background-image: url("./assets/bg/2.jpg");
}

.bg.num3 {
  background-image: url("./assets/bg/3.jpg");
}

.bg.num4 {
  background-image: url("./assets/bg/4.jpg");
}

.bg.num5 {
  background-image: url("./assets/bg/5.jpg");
}

.bg.num6 {
  background-image: url("./assets/bg/6.jpg");
}

.bg.num7 {
  background-image: url("./assets/bg/7.jpg");
}

.bg.num8 {
  background-image: url("./assets/bg/8.jpg");
}

.bg.num9 {
  background-image: url("./assets/bg/9.jpg");
}

.bg.num10 {
  background-image: url("./assets/bg/10.jpg");
}

.lights {
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }

  &__color-button {
    &:hover {
      box-shadow: rgb(0 0 0 / 20%) 0 -1px 7px 1px, inset #441313 0 -1px 9px,
        #ccc 0 2px 50px;
    }
  }


  &__switch-button {
    cursor: pointer;
    width: 60px;
    height: 30px;
    background-color: grey;
    border-radius: 20px;
    padding: 5px;
    transition: all 0.3s;
  }

  &__switch-button.on {
    background-color: #278d9f;
  }

  &__swither {
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    transition: all 0.3s;
    transform: translateX(0%);
  }

  &__swither.on {
    transform: translateX(150%);
  }
}





#tree-picture {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

.toy-selected {
  width: 90px;
  height: 90px;
  border-radius: 10px;
  border: 2px solid rgb(255, 255, 255);
  margin-top: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 206, 206);
  opacity: 0.8;
  position: relative;
}

.toy-selected img {
  width: 80%;
  height: 80%;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.toy-selected__count {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 20px;
  text-align: center;
  color: #2b1de8;
  width: 30px;
  height: 30px;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: #1ddde8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toy-on-tree {
  position: absolute;
  width: 72px;
  height: 72px;
  object-fit: contain;
}

.tree-page__reset-settings {
  width: 200px;
  height: 35px;
  border: 2px solid #278D9F;
  border-radius: 30px;
  background-color: #1f707f4d;
  font-weight: lighter;
  font-size: 16px;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  // margin: 20px;
  
  &:hover {
    background-color: #1f717f;
  }
}
